@model Insurance.Web.Models.TATAPaymentRequestModel
<form method=post onload="submit" action="@Model.url">
	<input type=hidden name="pgiRequest" value="@Model.pgiRequest"><br>

	<input type=submit name="submit" value="Submit"><br>
</form>